<div class="content winners"><h1>Previous IMLEC Winners 1969 - 2019</h1>
  <div>
    <ol class="center">
      <li>
        <app-contentbox>
          <div>
            <div>1969 Birmingham<br>John Drury<br>5"
              Royal Scot
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1970 Witney<br>Len Labram<br>5"
              Firefly
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1971 Southampton<br>A. Haydon<br>5"
              GWR Dean Single
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1972 Tyneside<br>Norman Spink<br>5"
              GWR 57XX
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1973 Chingford<br>Pat Killian / B. Longstaff<br
            >5" LNER L1
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1974 Bristol<br>Fred Winsall<br>5"
              Nigel Gresley
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1975 Tyneside<br>Laurie Joyce<br>3½"
              GWR King
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1976 Kinver<br>Bill Perret<br>5"
              Speedy
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1977 Chingford<br>Bill Perret<br>5"
              Speedy
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1978 Guildford<br>Percy Wood<br>5"
              Maid of Kent
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1979 Bristol<br>David Morris<br>5"
              Sterling Single
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1980 Bedford<br>Percy Wood<br>3½"
              BR
              Class 7
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1981 Bournemouth<br>Percy Wood<br>5"
              LNER J39
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1982 Leyland<br>Roy Armsbury<br>5"
              GWR de GLEN
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1983 Guildford<br>Les Pritchard<br>5"
              Royal Scot
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1984 Bristol<br>Les Pritchard<br>5"
              Royal Scot
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1985 Urmston<br>Alan Crossfield<br>5"
              Nigel Gresley
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1986 Bournemouth<br>Alan Crossfield<br
            >5" Nigel Gresley
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1987 Birmingham<br>Kelvin Moonie<br
            >5"
              LSWR Adams
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1988 Leeds<br>Lionel Flippance<br>5"
              BR Proposed 2-8-2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1989 Leyland<br>Lionel Flippance<br
            >5"
              BR Proposed 2-8-2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1990 Guildford<br>Lionel Flippance<br
            >5" BR Proposed 2-8-2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1991 Bristol<br>Kevan Ayling<br>5"
              BR
              Proposed 2-8-2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1992 Leeds<br>Dave Sutcliffe<br>5"
              S&amp;D
              7F
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1993 Leyland<br>John Heslop<br>5"
              Stanier
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1994 Gravesend<br>John Heslop<br>5"
              Stanier
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1995 Kinver<br>John Heslop<br>5"
              LNER
              Class P2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1996 Northampton<br>Alan Crossfield<br
            >GWR Manor
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1997 Llanelli<br>Len Steel<br>5"
              Britannia
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1998 Kinver<br>Kevan Ayling<br>BR
              Proposed
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>1999 Northampton<br>Jim Elliott<br>5"
              Speedy
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2000 Leyland<br>Lionel Flippance<br
            >5"
              BR Proposed 2-8-2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2001 Cancelled</div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2002 Leeds<br>Geoff Moore<br>5" B1
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2003 Bristol<br>Geoff Moore<br>LBSC
              Minx
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2004 Kinver<br>Glyn Winsall<br>5"
              01
              2-8-0
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2005 Northampton<br>Ballan Baker<br
            >5"
              K1
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2006 Fareham<br>Les Pritchard<br>5"
              L&amp;Y
              0-6-0
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2007 Llanelli<br>Steve Eaton<br>5"
              Britannia
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2008 Southport<br>Brian Remnant<br>5"
              N.G. 0-4-2ST
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2009 Bristol<br>Neil Mortimer Freelance<br
            >Polly III
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2010 Bournemouth<br>Steve Eaton<br>5"
              Britannia
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2011 Bromsgrove<br>Ben Pavier<br>5"
              Britannia
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2012 Nottingham<br>Lionel Flippance<br
            >5" BR Proposed 2-8-2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2013 Leyland<br>Steve Eaton<br>5"
              Black Five
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2014 Bournemouth<br>John Cottam<br>5"
              LNER P2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2015 Nottingham<br>John Cottam<br>5"
              LNER P2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2016 Urmston<br>Lionel Flippance<br
            >5"
              BR Proposed 2-8-2 (2)
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2017 Southport<br>Paul Tompkins<br>5"
              Britannia
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2018 Birmingham<br>Lionel Flippance<br
            >5" BR Proposed 2-8-2
            </div>
          </div>
        </app-contentbox>
      </li>
      <li>
        <app-contentbox>
          <div>
            <div>2019 Leyland<br>Marcus Peel<br>5"
              B1
            </div>
          </div>
        </app-contentbox>
      </li>
    </ol>
  </div>
</div>
