<!--suppress ALL -->
<div class="content hotels">
  <h1>Catering and Food</h1>
  <p>
    Catering, food and drink will be provided by 1st Snodland Scouts on Saturday and Sunday.
  </p>
  <p>
    There will be no catering available on the Friday of the competition
  </p>

  <h2>Friday</h2>
  <div class="center">
    <app-contentbox>
      <div>
        No catering is available
      </div>
    </app-contentbox>
  </div>

  <h2>Saturday</h2>
  <div class="center">
    <app-contentbox>
      <div>
        Breakfast (8am till lunch)
        <ul>
          <li>Bacon, sausage and/or egg in rolls, sticks or baps</li>
        </ul>
        Lunch (1pm)
        <ul>
          <li>Burgers</li>
          <li>Hotdogs</li>
          <li>Vegie and Vegan Burgers</li>
          <li>plus onions, bacon, cheese etc</li>
        </ul>
        Dinner (tokens available to purchase until 4pm from the clubhouse)
        <ul>
          <li>Buffet</li>
        </ul>
      </div>
    </app-contentbox>
  </div>

  <h2>Sunday</h2>
  <div class="center">
    <app-contentbox>
      <div>
        Breakfast (8am till lunch)
        <ul>
          <li>Bacon, sausage and/or egg in rolls, sticks or baps</li>
        </ul>
        Lunch (1pm)
        <ul>
          <li>Burgers</li>
          <li>Hotdogs</li>
          <li>Vegie and Vegan Burgers</li>
          <li>plus onions, bacon, cheese etc</li>
        </ul>
      </div>
    </app-contentbox>
  </div>
</div>
