<div class="content">
  <h1>IMLEC 2021</h1>
  <h1>THE INTERNATIONAL MODEL LOCOMOTIVE EFFICIENCY
    COMPETITION</h1>
  <h3>for the</h3>
  <h2>MARTIN EVANS TROPHY AND PRIZE
    MONEY</h2>
  <h2>MAIDSTONE MMES 2021 RULES</h2>
  <ol><b>Applications and Allocation of Places</b>
    <li>The competition shall be open to any applicant on the proviso that he or she can provide a
      valid current boiler certificate for the locomotive to be used and evidence of adequate public liability
      insurance.
      The locomotive must be 5 or 3 ½in. gauge, able to run on raised track and the Driver must not ride on the
      locomotive
      or tender.
    </li>
    <li>Once the Driver has accepted the offer of a competitor’s place he or she must either compete
      in or retire from the competition. The place is not transferable to another Driver or locomotive.
    </li>
    <li>Once the Driver has accepted the offer of a competitor’s place he or she is obliged to
      compete only with the locomotive identified in the application.
    </li>
    <li>In the event that a competitor withdraws from the competition in advance of the competition
      date, or on the day of the competition, the competitor first named on the reserve list shall be invited to
      compete.
      (Subsequent such invitations shall be issued in number order as required.)
    </li>
    <li>Ballast (including water) added externally to the scale outline of the locomotive (or in the
      case of a freelance model, the likely scale outline) is not permitted.
    </li>
    <b><br>Preparation for the Run</b>
    <li>The host club shall prepare a suitable timetable for the duration of the competition.</li>
    <li>The steaming bay Marshal’s instructions with regard to movements shall be obeyed during
      steam raising.
    </li>
    <li>Competitors should arrive at the track at least one and a half hours before their run and
      report to the steaming bay reception. At this point the competitor shall :-
      <ol type="a">
        <li>Present the necessary documentation including boiler certificate</li>
        <li>State the amount and grade (size) of coal required for the run. The coal will be weighed
          and allocated in presence of the Driver. Additional coal will not be available during the run.
        </li>
      </ol>
    </li>
    <li>Ample preparation time shall be allocated to the competitor and the competitor shall be
      ready to run at his or her allocated time. Failure to run on time may be regarded as a retirement. The Judge shall
      use discretion and make the final decision.
    </li>
    <li>The Driver shall use his or her discretion with regard to the appropriate time to light up.
      (The Driver will be notified of any foreseeable delay to the running time before lighting up.)
    </li>
    <li>The Driver will be provided with as much dry, or paraffin soaked, charcoal and wood as is
      required to raise steam. The Driver may use his own wood for lighting up purposes but this must be approved by the
      steaming bay Marshal.
    </li>
    <li>Any coal used during steam raising will be from the measured allocation.</li>
    <li>The Driver may decide when to start to use coal but the locomotive must be burning coal
      before leaving the steaming bay
    </li>
    <li>The train will be prepared for the Driver with the dynamometer car at the front and
      sufficient passenger cars to carry the number of passengers he or she requires. (For practical reasons it may be
      necessary to limit the load or number of carriages pulled in the contest.) The train will be made ready before the
      locomotive leaves the steaming bay.
    </li>
    <li>The Driver will be allocated an Observer. The Observer will oversee all procedures between
      and including raising steam and completing the run.
    </li>
    <li>The Observer shall give an instruction to move to the start line at an appropriate time. The
      Driver shall advise the Observer of the number of passengers he/she wishes to take.
    </li>
    <li>All coupling and uncoupling of the locomotive must be carried out by the host club Marshals,
      to the Driver’s satisfaction.
    </li>
    <li>The Observer will record the initial dynamometer car readings in the presence of the
      Driver.
    </li>
    <li>The Driver shall inform the Observer when he is ready to start the run and the Timekeeper
      shall give the Driver permission to start.
    </li>
    <li>If the Driver is unable to commence the run within a reasonable time of the designated start
      time, he/she will be deemed to have retired.
    </li>
    <b><br>The Run</b>
    <li>The run length is nominally 30 minutes.
      <ol type="a">
        <li>The Timekeeper shall inform the Driver when he has been running for a) 15 minutes and b)
          20 minutes.
        </li>
        <li>b. The Driver will be notified when he/she has completed 25 min of the run, at which
          point the Driver can either finish the run at the finish line or continue for one (or more, if time permits)
          further lap but in any event the Driver must start the last lap no later than 30 minutes after the start time.
        </li>
        <li>The run shall finish before 35 minutes, after this point the driver will be deemed to
          have retired.
        </li>
        <li>Recording will commence and conclude at the Start/Finish Line. (A slight over-run at the
          finish line will be disregarded.)
        </li>
      </ol>
    </li>
    <li>In the event that the Driver does not complete his/her run, he/she shall be deemed to have
      retired. (‘Completing the Run’ means bringing the train to a stand upon reaching the Finish Line, the locomotive
      having reached the Finish Line entirely under its own steam.)
    </li>
    <li>The total period the train may be stationary during the run will be eight minutes. If this
      is exceeded then the competitor will be deemed to have retired.
    </li>
    <li>Water will be provided in suitable containers during the run to enable locomotive water
      tanks to be topped up without stopping. The amount of water used shall not be recorded or limited in any way.
    </li>
    <li>Additional coal will NOT be available to the Driver during the run.</li>
    <li>Unused coal will be weighed and recorded in the presence of the Driver upon completion of
      the run. This will be debited to the recorded coal consumption.
    </li>
    <li>Only the total weight of coal burnt will be used in the calculations. No allowance will be
      made for any unburnt coal in the firebox.
    </li>
    <li>The maximum speed, permitted will be 8mph. The dynamometer car shall provide a speed
      indication at the Driver’s position. The Observer will issue a warning to the Driver of the speed limit if
      necessary. Three such warnings may result in disqualification. The Observer will have the power to end the run
      should the Driver be considered to be driving unsafely. In the event of a disagreement the Judge’s decision will
      be
      final.
    </li>
    <li>The use of a hand or electric pump is not permitted once the run has commenced. However, it
      may be used in emergencies when all other means of water feed have failed and in which case the locomotive must be
      retired and the run terminated immediately.
    </li>
    <li>The Driver may elect to set down passengers during the first 25 minutes of the run but only
      when the train is stationary and it is safe to do so. Passengers may not be picked up at any time. In the interest
      of safety, the guard may, at his discretion, instruct that passengers be redistributed throughout the train. After
      25 minutes, passengers may not be unloaded until the end of the run, otherwise the driver will be deemed to have
      retired.
    </li>
    <li>No external assistance is to be given to the train in any way whatsoever, at any time during
      the run.
    </li>
    <li>The Driver shall have access to a train brake for emergency use only. Any use of the brake
      under non-emergency conditions may result in disqualification. This includes use of the brake to slow the train at
      any point. The brake may be used to stop the train at the end of the run.
    </li>
    <li>Any locomotive fitted with working sanders shall be allowed to use them for the purpose of
      sanding the track.
    </li>
    <li>The host club will endeavour to post the results of each run as soon as possible following
      the end of the run.
    </li>
    <li>In all matters relating to the competition, the decision of the Judge is final.</li>
  </ol>
</div>
