<div class="day">
  <h1>Friday</h1>
  <div class="entries">
    <app-contentbox class="entry" *ngFor="let entry of fridayEntries">
      <div>
        <span class="runNo">{{entry.runNo}}.</span>&nbsp;<span class="driver">{{entry.driver.name}}</span>&nbsp;<span
        class="time">{{parseTime(entry.time)}}</span><br/>
        <span>{{entry.driver.club}}</span><br/>
        <span>{{entry.gauge}}" {{entry.model}}</span><br/>
      </div>
      <img *ngIf="entry.img !== null" class="entryPhoto" alt="Photo of {{entry.model}}"
           src="{{url}}/assets/photos/{{entry.img}}">
    </app-contentbox>
  </div>
</div>
<div class="day">
  <h1>Saturday</h1>
  <div class="entries">
    <app-contentbox class="entry" *ngFor="let entry of saturdayEntries">
      <div>
        <span class="runNo">{{entry.runNo}}.</span>&nbsp;<span class="driver">{{entry.driver.name}}</span>&nbsp;<span
        class="time">{{parseTime(entry.time)}}</span><br/>
        <span>{{entry.driver.club}}</span><br/>
        <span>{{entry.gauge}}" {{entry.model}}</span><br/>
      </div>
      <img *ngIf="entry.img !== null" class="entryPhoto" alt="Photo of {{entry.model}}"
           src="{{url}}/assets/photos/{{entry.img}}">
    </app-contentbox>
  </div>
</div>
<div class="day">
  <h1>Sunday</h1>
  <div class="entries">
    <app-contentbox class="entry" *ngFor="let entry of sundayEntries">
      <div>
        <span class="runNo">{{entry.runNo}}.</span>&nbsp;<span class="driver">{{entry.driver.name}}</span>&nbsp;<span
        class="time">{{parseTime(entry.time)}}</span><br/>
        <span>{{entry.driver.club}}</span><br/>
        <span>{{entry.gauge}}" {{entry.model}}</span><br/>
      </div>
      <img *ngIf="entry.img !== null" class="entryPhoto" alt="Photo of {{entry.model}}"
           src="{{url}}/assets/photos/{{entry.img}}">
    </app-contentbox>
  </div>
</div>
<div class="day" *ngIf="hasReserves">
  <h1>Reserves</h1>
  <div class="entries">
    <app-contentbox class="entry" *ngFor="let entry of reserveEntries">
      <div>
        <span class="runNo">{{entry.runNo}}.</span>&nbsp;<span class="driver">{{entry.driver.name}}</span><br/>
        <span>{{entry.driver.club}}</span><br/>
        <span>{{entry.gauge}}" {{entry.model}}</span><br/>
      </div>
      <img *ngIf="entry.img !== null" class="entryPhoto" alt="Photo of {{entry.model}}"
           src="{{url}}/assets/photos/{{entry.img}}">
    </app-contentbox>
  </div>
</div>
