<!--suppress ALL -->
<div class="content hotels">
  <h1>Accommodation in and around Maidstone, Kent</h1>
  <p>
    These Hotels, B&Bs and camp sites are just a few suggestions and are not endorsed by us. It is up to you
    to research and make your own choices.
  </p>

  <h2>Hotels</h2>
  <div class="center">
    <app-contentbox>
      <div>
        Premier Inn Maidstone (Allington)<br/>
        London Rd<br/>
        Allington,<br/>
        ME16 0HG<br/>
        <a href="http://www.premierinn.co.uk" target="_blank">www.premierinn.co.uk</a><br/>
        3.9 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        Premier Inn Maidstone (Sandling)<br/>
        Forstal Rd,<br/>
        Lock Lane,<br/>
        Sandling,<br/>
        ME14 3AS<br/>
        <a href="http://www.premierinn.co.uk" target="_blank">www.premierinn.co.uk</a><br/>
        4.5 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        Premier Inn Maidstone (Town Centre)<br/>
        5 – 11 London Rd,<br/>
        Maidstone<br/>
        ME16 8HR<br/>
        <a href="http://www.premierinn.co.uk" target="_blank">www.premierinn.co.uk</a><br/>
        2.5 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        Grangemoor Hotel<br/>
        4 – 8 St Michaels Rd,<br/>
        Maidstone<br/>
        ME16 8BS<br/>
        <a href="http://www.grangemoor.co.uk" target="_blank">www.grangemoor.co.uk</a><br/>
        01622 677623<br/>
        3.0 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        Hilton Maidstone<br/>
        Bearsted Rd,<br/>
        Maidstone<br/>
        ME14 5AA<br/>
        <a href="http://www.hilton.com" target="_blank">www.hilton.com</a><br/>
        01622 734 322<br/>
        2.0. miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        Tudor Park Marriot Hotel and country club<br/>
        Ashford Rd,<br/>
        Bearsted,<br/>
        ME14 4NQ<br/>
        <a href="http://www.marriott.co.uk" target="_blank">www.marriott.co.uk</a><br/>
        01622 734334<br/>
        1.5 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        Bed and Breakfast<br/>
        The Old Police Guest House<br/>
        Kent House,<br/>
        Upper Street,<br/>
        Leeds Village,<br/>
        Maidstone<br/>
        ME17 1SJ<br/>
        <a href="http://www.theoldpoliceguesthouse.co.uk" target="_blank">www.theoldpoliceguesthouse.co.uk</a><br/>
        01622 863216<br/>
        4.5. miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        White Rabbit Inn<br/>
        Sandling Rd,<br/>
        Maidstone,<br/>
        ME14 2RF<br/>
        01622 692212<br/>
        2.5 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        Cherwell Bed and Breakfast<br/>
        88 Ashford Rd,<br/>
        Bearsted,<br/>
        ME14 4IT<br/>
        <a href="http://www.cherwellbandb.co.uk" target="_blank">www.cherwellbandb.co.uk</a><br/>
        01622 738278<br/>
        0.5 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        The limes on the green<br/>
        The Green,<br/>
        Bearsted,<br/>
        ME14 4DR<br/>
        <a href="http://www.limesonthegreen.co.uk" target="_blank">www.limesonthegreen.co.uk</a><br/>
        01622 730908<br/>
        1.3 miles to park entrance<br/>
      </div>
    </app-contentbox>
  </div>

  <h2>Nearby campsites</h2>

  <div class="center">
    <app-contentbox>
      <div>
        Oak View caravan park<br/>
        Scragged Oak Rd,<br/>
        Detling,<br/>
        Maidstone<br/>
        ME14 3HB<br/>
        <a href="http://www.oakviewcaravanpark.co.uk" target="_blank">www.oakviewcaravanpark.co.uk</a><br/>
        01622 631298<br/>
        Tents and caravans<br/>
        3.8 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        Roundoak Farm Camping (Adults only)<br/>
        Heniker Lane,<br/>
        Sutton Valance<br/>
        Maidstone<br/>
        ME17 3ED<br/>
        <a href="http://www.roundoak-hebridean.co.uk" target="_blank">www.roundoak-hebridean.co.uk</a><br/>
        0162208440491<br/>
        Tents and caravans<br/>
        6.5 miles to park entrance<br/>
      </div>
    </app-contentbox>
    <app-contentbox>
      <div>
        The Finches Caravan and camping park<br/>
        Chartway street<br/>
        Kingswood<br/>
        Maidstone<br/>
        ME17 3DN<br/>
        <a href="http://www.kingswood-caravans.co.uk" target="_blank">www.kingswood-caravans.co.uk</a><br/>
        01622 844388<br/>
        (2 miles from junc 8 of M20)<br/>
        Tents and caravans<br/>
        4.7 miles to park entrance<br/>
      </div>
    </app-contentbox>
  </div>
</div>
